@import 'aos/dist/aos.css';

/* :root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Amatic SC",  sans-serif;
    --nav-font: "Inter",  sans-serif;
} */

body {
    background: #d7ffff !important;
}

/* styling the navbar */
.loading_img {
    width: 13rem !important;
}

.nav-item a {
    font-weight: bold;
    transition: .3s ease-in-out;
}

.nav-item a:hover {
    color: #1E88E5 !important;
    transform: .3s ease-in-out;
}

.logo {
    width: 160px !important;
    object-fit: contain !important;
}


/* styling the hero/banner */
.intro h1 {
    font-size: 3rem !important;
}

.intro p {
    font-size: 20px !important;
    color: #808080;
}

.intro .btn {
    color: #ffffff !important;
}

.icon-search {
    font-size: 40px;
    color: #ffffff !important;
    padding: 5px;
    position: absolute;
    top: 32%;
    right: 12%;
    background: #31D2F2;
    border-radius: 50%;
}

.card-body h5,
p {
    text-align: center;
}

.icon {
    padding-top: 5px;
    margin: auto;
    font-size: 3rem;
    color: #31D2F2;
}

span {
    color: #1E88E5;
}

.banner img {
    object-fit: contain;
}

/* styling the job section after signing up */
.container-job {
    display: grid;
    place-items: center;
    height: 70vh;
}

.content {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* styling the category section */
.card-image {
    height: 12rem;
    filter: contrast(1.5) !important;
}

.category-btn {
    margin-left: 30%;
    margin-top: 45%;
}

/* footer section */
a {
    text-decoration: none !important;
    color: #000 !important;
}

.footer p {
    color: #808080;
}

/* 404 */
.notfound-img {
    margin-left: 25%;
}

#homeBtn {
    margin-left: 43%;
}

/* profile */
.profile-card {
    height: 15rem;
}

.profile-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: auto !important;
}

.profile-title {
    margin-bottom: 125px !important;
}

.card-img-top {
    height: 14rem;
    object-fit: cover;
}

.profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: absolute;
    left: 2%;
    bottom: -20%;
}

/* post section */
.post {
    margin-top: 5rem !important;
}

.card-post {
    height: 3rem;
    margin: auto !important;
}

.upload-icon {
    cursor: pointer;
}

/* styling the freelancer profile section */
.card-profile {
    border: none !important;
}

.card_profile_img {
    height: 10rem !important;
    width: 10rem !important;
    border-radius: 50% !important;
}

.img-job {
    height: 14rem !important;
}


.link a:hover {
    text-decoration: underline !important;
    color: #000;
}

/* .skills {
    width: 300px;
    margin: 20px auto;
} */

.skills-list {
    margin-bottom: 20px;
}

.skills-list div {
    display: flex;
    flex-direction: row;
}

.skills-list input {
    margin-right: 10px;
}

.add-skill {
    display: flex;
    gap: 10px;
}

.add-skill input {
    height: 3rem;
    width: 21rem;
}

.add-skill button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.selected-skills button {
    margin: 10px;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}




/* posted job */
.profile_img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

/* message section */
.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 5px !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto !important;
    white-space: nowrap !important;
    overflow: hidden;
    max-height: 480px !important;
}

.msg_card_body {
    overflow-y: scroll !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    max-height: 390px !important;
}

.card-body {
    overflow-y: auto !important;
}


.card-header {
    border-radius: 5px 5px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 5px 5px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 5px 0 0 5px !important;
    border: 0 !important;
    color: #fff !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #fff !important;
    height: 55px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    border-radius: 0 5px 5px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #fff !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 5px 5px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #fff !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 5px 5px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: #fff !important;
    cursor: pointer;
}

.card {
    height: 500px;
    border-radius: 5px !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: scroll !important;
    white-space: nowrap !important;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;

}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;

}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
}

.user_info p {
    font-size: 10px;
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.menu {
    background-color: #f8f9fa;
    padding: 1rem;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
}

.menu li a:hover {
    background-color: #e2e6ea;
}


.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #bcbbbb;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #1E88E5 !important;
    cursor: pointer;
    font-size: 20px;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;

}

.action_menu ul li:hover {
    cursor: pointer;
}

@media (max-width:576px) {

    .search {
        margin-top: 15px;
        width: 100%;
    }

    input {
        font-size: 10px !important;
    }

    .search {
        position: relative;
    }

    .icon-search {
        position: absolute;
        top: 68%;
        right: 5%;
    }

    .group img {
        width: 18rem;
    }

    .notfound-img {
        width: 19rem;
        margin: auto;
    }

    #homeBtn {
        margin-left: 6rem;
    }

    .select-category {
        flex-direction: column;
    }

    /* message */
    .contacts_card {
        margin-bottom: 15px !important;
    }
}

@media(max-width:820px) {
    .posted-job {
        margin-left: 7.5rem;
    }


}

@media(max-width:912px) {
    .posted-job {
        margin-left: 7.5rem;
    }


}

@media(max-width:540px) {
    .posted-job {
        margin: auto !important;
        margin-top: 2rem !important;
    }


}